.bg_style {
    background-color: rgb(246, 229, 229);
    border: 1 px solid red;
}

.font_size {
    font-size: 12px;
}

.bg_color{
    margin-bottom: 20px;
    background-color: red;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 50px;
}